:root {
    font-size: 10px;
}

body {
    user-select: none;
}

$grey-bg: #F5F5F7;
$light-green-main: #89DD65;
$grey-font: #828282;
$black-font: #121212;

@mixin SegoeUI {
    font-family: Segoe UI;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin SergoUI-lower_header {
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: right;
}

@mixin SergoUI-open_btns {
    font-family: Segoe UI;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}

@mixin titleSupport {
    font-family: Segoe UI;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin subtitleSupport {
    font-family: Segoe UI;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin fortitle {
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
}

@mixin pamm-service-title {
    font-family: Segoe UI;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin company-info {
    font-family: Segoe UI;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin bold_item {
    font-family: Segoe UI;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin usual_item {
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin table_title {
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
}

@mixin table_titles {
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: $grey-font;
}

@mixin table_element {
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: $black-font;
}

@mixin see_all {
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    text-decoration-line: underline;
    color: $grey-font;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 13.5rem;

    .upper-header {
        background-color: $grey-bg;
        width: 100%;
    }

    &_top_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 120rem;
        height: 3.8rem;
        
        &_mode-container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .mode_item {
            @include SegoeUI();
            margin-right: 4rem;
            cursor: pointer;
        }
        
        .active {
            text-decoration-line: none;
            border-bottom: .3px black solid;
            line-height: 1.5rem;
        }

        &_login-language-container { 
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 19.8rem;
            max-width: 120rem;
        }

        .login_item {
            @include SegoeUI();
            font-weight: 600;
            color: $light-green-main;
            cursor: pointer;

            &::after {
                content: '|';
                position: absolute;
                width: .4rem;
                height: 5rem;
                margin-left: 1.5rem;
            }
        }

        .language_change {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
        }
        
        .arrow_btn {
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
            background: url(../img/arrow_drop_down.svg);
            cursor: pointer;
        }

        .language_item {
            @include SegoeUI();
        }

        .theme_button {
            cursor: pointer;
            width: 2.4rem;
            height: 2.4rem;
            background: url(../img/sun.svg);
        }
    }

    .lower-header {
        // width: 100%;
        border: .05rem solid $light-green-main;
    }

        &_low_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        max-width: 120rem;
        margin: 0 auto;
        height: 9.7rem;

        &_main_logo {
            background: url(../img/main_logo.svg);
            width: 15.176rem;
            height: 2.7rem;
            cursor: pointer;
        }

        &_header_navigation {
            @include SergoUI-lower_header();
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 49.5rem;
            cursor: pointer;

            .nav_item {

            }

            .nav-item_drop {
                
                &_active {
                    border-bottom: .3px black solid;
                    line-height: 1.5rem;
                }
            }

            .arrow_btn {
                display: inline-block;
                width: 2.4rem;
                height: 1.8rem;
                background: url(../img/arrow_drop_down.svg);
                cursor: pointer;
            }
        }

        &_open_buttons {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            width: 44.3rem;
            cursor: pointer;

            .open_buttonOne {
                @include SergoUI-open_btns();
                background: linear-gradient(225deg, #89DD65 0%, #AEDD65 100%);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 7rem;
                width: 19.7rem;
                height: 5rem;

                .open_content {
                    
                }
            }

            .open_buttonTwo {
                @include SergoUI-open_btns();
                border: 1px solid #121212;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 7rem;
                width: 22.6rem;
                height: 5rem;

                .open_content {
                    
                }
            }
        }
    }
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;

    &_qualified-support_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 120rem;
        height: 49.5rem;
        margin: 0 auto;

        .text {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: space-around;
        }

        .title {
            @include titleSupport();
            max-width: 41.9rem;
            max-height: 8rem; 
        }

        .subtitle {
            @include subtitleSupport();
            max-width: 29rem;
            max-height: 8.1rem;
        }

        .img-slider {
            width: 79rem;
            height: 49.5rem;
            background: url(../img/keyboard.jpg);
        
            .slider {
                position: relative;
                width: 13.1rem;
                height: 6rem;
                background-color: $light-green-main;
                top: 43.5rem;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .arrow_left {
                    background: url(../img/arrow_drop_down.svg);
                    position: relative;
                    width: 2.4rem;
                    height: 2.4rem;
                }

                .counter {

                }

                .arrow_right {
                    
                }
            }
        }
        
    }

    &_for-container {
        background-color: $grey-bg;
        width: 100%;
        height: 66.2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .for-items-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 120rem;
            height: 40rem;
            flex-wrap: wrap;
            

            .for_item {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                border: 0.5px solid #121212;
                box-sizing: border-box;
                width: 38rem;
                height: 100%;

                .content-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    max-width: 32.5rem;
                    height: 30.5rem;
                }

                .img {
                    width: 6rem;
                    height: 6rem;
                    
                    &_person {
                        background-image: url(../img/person.png);
                    }

                    &_bag {
                        background-image: url(../img/bag.png);
                    }

                    &_technology {
                        background: url(../img/technology.png)  ;
                    }
                }

                .for-text {
                    @include fortitle();
                }

                .subtitle {
                    @include subtitleSupport();
                }
            }
        }
    }

    &_pamm-service {
    width: 100%;
    height: 82.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

        .pamm-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 120rem;
            height: 58.8rem;

            .text {
                display: flex;
                flex-direction: col;
                align-items: flex-start;
            }
            
            .title {
                @include pamm-service-title();
                width: 42rem;
            }

            .subtitle {
                @include subtitleSupport();
                width: 79rem;
            }

            .tableArea {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-top: 10.9rem;
                width: 100%;
                height: 32.6rem;

                &_masters-table {
                    width: 60rem;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: wrap;

                    .title-container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 20%;

                        .title_question {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            margin-left: 3.2rem;
                            
                            .title {
                                @include table_title();
                                width: 100%;
                            }
                            
                            .questionMark {
                                background: url(../img/question_Icon.png) no-repeat;
                                width: 3rem;
                                height: 2rem;
                                margin-left: .7rem;
                            }
                        }
                        
                        .see_all {
                            @include see_all();
                        }
                    }
// тут начудил пиздец надо всю таблицу переделывать
                    .table {
                        width: 58.5rem;
                        height: 27.7rem;
                        display: flex;
                        flex-direction: column;

                        &_titles {
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            flex-direction: row;
                            height: 15%;
                            @include table_titles();
                            border: 1.5px solid #E0E0E0;

                            .title_item {

                            }
                        }

                        &_row {
                            width: 100%;
                            height: 25%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            border: 1.5px solid #E0E0E0;

                            .row_element {
                                width: 25%;
                                @include table_element();
                                &_active {
                                    text-decoration: underline;
                                }
                                &:first-child{
                                    margin-left: 3.5rem;
                                }
                            }

                            .row_element_graph {
                                background: url(../img/graph.png) no-repeat;
                                width: 20%;
                                // width: 14rem;
                                height: 4rem;
                            }
                        }
                    }

                }

                .followers-table {

                }
            }
        }
    }    
}

.footer {
    width: 100%;
    background-color: $grey-bg;
    height: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &_container {
        height: 14.5rem;
        width: 120rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .logo-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            height: 100%;

            .main-logo {
                background: url(../img/main_logo.svg) no-repeat;
                background-size: 75%;
                width: 100%;
                height: 100%;
            }
            
            .info {
                @include company-info();
                width: 22.4rem;
                height: 6.5rem;
            }
        }

            .bold_item {
                @include bold_item();
            }

            .usual_item {
                @include usual_item();
            }

            .rmf {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .ttt {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .arc {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .hhpp {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        
    }
}