:root {
    font-size: 10px;
}

body {
    user-select: none;
}

$grey-bg: #F5F5F7;
$light-green-main: #89DD65;

@mixin SegoeUI {
    font-family: Segoe UI;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin SergoUI-lower_header {
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: right;
}

@mixin SergoUI-open_btns {
    font-family: Segoe UI;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
}

@mixin titleSupport {
    font-family: Segoe UI;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin subtitleSupport {
    font-family: Segoe UI;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin fortitle {
    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 13.5rem;

    .upper-header {
        background-color: $grey-bg;
        width: 100%;
    }

    &_top_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 120rem;
        height: 3.8rem;
        
        &_mode-container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .mode_item {
            @include SegoeUI();
            margin-right: 4rem;
            cursor: pointer;
        }
        
        .active {
            text-decoration-line: none;
            border-bottom: .3px black solid;
            line-height: 1.5rem;
        }

        &_login-language-container { 
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 19.8rem;
            max-width: 120rem;
        }

        .login_item {
            @include SegoeUI();
            font-weight: 600;
            color: $light-green-main;
            cursor: pointer;

            &::after {
                content: '|';
                position: absolute;
                width: .4rem;
                height: 5rem;
                margin-left: 1.5rem;
            }
        }

        .language_change {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
        }
        
        .arrow_btn {
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
            background: url(../img/arrow_drop_down.svg);
            cursor: pointer;
        }

        .language_item {
            @include SegoeUI();
        }

        .theme_button {
            cursor: pointer;
            width: 2.4rem;
            height: 2.4rem;
            background: url(../img/sun.svg);
        }
    }

    .lower-header {
        // width: 100%;
        border: .05rem solid $light-green-main;
    }

        &_low_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        max-width: 120rem;
        margin: 0 auto;
        height: 9.7rem;

        &_main_logo {
            background: url(../img/main_logo.svg);
            width: 15.176rem;
            height: 2.7rem;
            cursor: pointer;
        }

        &_header_navigation {
            @include SergoUI-lower_header();
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 49.5rem;
            cursor: pointer;

            .nav_item {

            }

            .nav-item_drop {
                
                &_active {
                    border-bottom: .3px black solid;
                    line-height: 1.5rem;
                }
            }

            .arrow_btn {
                display: inline-block;
                width: 2.4rem;
                height: 1.8rem;
                background: url(../img/arrow_drop_down.svg);
                cursor: pointer;
            }
        }

        &_open_buttons {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            width: 44.3rem;
            cursor: pointer;

            .open_buttonOne {
                @include SergoUI-open_btns();
                background: linear-gradient(225deg, #89DD65 0%, #AEDD65 100%);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 7rem;
                width: 19.7rem;
                height: 5rem;

                .open_content {
                    
                }
            }

            .open_buttonTwo {
                @include SergoUI-open_btns();
                border: 1px solid #121212;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 7rem;
                width: 22.6rem;
                height: 5rem;

                .open_content {
                    
                }
            }
        }
    }
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;

    &_qualified-support_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 120rem;
        height: 49.5rem;
        margin: 0 auto;

        .text {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: space-around;
        }

        .title {
            @include titleSupport();
            max-width: 41.9rem;
            max-height: 8rem; 
        }

        .subtitle {
            @include subtitleSupport();
            max-width: 29rem;
            max-height: 8.1rem;
        }

        .img-slider {
            width: 79rem;
            height: 49.5rem;
            background: url(../img/keyboard.jpg);
        
            .slider {
                // position: relative;
            }
        }
        
    }

    &_for-container {
        background-color: $grey-bg;
        width: 100%;
        height: 66.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .for-items-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 120rem;
            height: 40rem;
            

            .for_item {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                border: 0.5px solid #121212;
                box-sizing: border-box;
                width: 38rem;
                height: 100%;

                .content-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    max-width: 32.5rem;
                    height: 27.5rem;
                }

                .img {
                    width: 6rem;
                    height: 6rem;
                    
                    &_person {
                        background-image: url(../img/person.png);
                    }

                    &_bag {
                        background-image: url(../img/bag.png);
                    }

                    &_technology {
                        background: url(../img/technology.png)  ;
                    }
                }

                .for-text {
                    @include fortitle();
                }

                .subtitle {
                    @include subtitleSupport();
                }
            }
        }
    }



}