:root {
    font-size: 10px;
}

body {
    user-select: none;
}

#check-menu {
    display: none;
}

a {
    color: black;
    text-decoration: none;
}

$grey-bg: #F5F5F7;
$light-green-main: #89DD65;
$grey-font: #828282;
$black-font: #121212;

@mixin SegoeUI {
    font-family: Segoe UI;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.5rem;
    letter-spacing: 0em;
    text-align: left;
}

@mixin SergoUI-lower_header {
    font-family: Segoe UI;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.5rem;
    letter-spacing: 0em;
    text-align: right;
}

@mixin SergoUI-open_btns {
    font-family: Segoe UI;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0em;
    text-align: center;
}

@mixin titleSupport {
    font-family: Segoe UI;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    // line-height: 8rem;
    letter-spacing: 0em;
    text-align: left;
}

@mixin subtitleSupport {
    font-family: Segoe UI;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.7rem;
    letter-spacing: 0em;
    text-align: left;
}

@mixin fortitle {
    font-family: Segoe UI;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 0em;
    text-align: center;
}

@mixin pamm-service-title {
    font-family: Segoe UI;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 0em;
    text-align: left;
}

@mixin company-info {
    font-family: Segoe UI;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1rem;
    letter-spacing: 0em;
    text-align: left;
}

@mixin bold_item {
    font-family: Segoe UI;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.3rem;
    letter-spacing: 0em;
    text-align: left;
}

@mixin usual_item {
    font-family: Segoe UI;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9rem;
    letter-spacing: 0em;
    text-align: left;
}

@mixin table_title {
    font-family: Segoe UI;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.7rem;
    letter-spacing: 0px;
    text-align: left;
}

@mixin table_titles {
    font-family: Segoe UI;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.9rem;
    letter-spacing: 0px;
    text-align: left;
    color: $grey-font;
}

@mixin table_element {
    font-family: Segoe UI;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: $black-font;
}

@mixin see_all {
    font-family: Segoe UI;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: 0.020000000298023224rem;
    text-align: left;
    text-decoration-line: underline;
    color: $grey-font;
    cursor: pointer;
}

@mixin counter {
    font-family: Segoe UI;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 13.5rem;

    .upper-header {
        background-color: $grey-bg;
        width: 100%;
        height: 28%;
    }

    &_top_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 120rem;
        height: 100%;
        
        &_mode-container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .mode_dropdown {
            display: none;
            @include SegoeUI();
            cursor: pointer;
        }

        .mode_item {
            @include SegoeUI();
            margin-right: 4rem;
            cursor: pointer;
        }
        
        .active {
            text-decoration-line: none;
            border-bottom: .3px black solid;
            line-height: 1.5rem;
        }

        &_login-language-container { 
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 19.8rem;
            max-width: 120rem;
        }

        .login_item {
            @include SegoeUI();
            font-weight: 600;
            color: $light-green-main;
            cursor: pointer;

            &::after {
                content: '|';
                position: absolute;
                width: .4rem;
                height: 5rem;
                margin-left: 1.5rem;
            }
        }

        .language_change {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
        }
        
        .arrow_btn {
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
            background: url(../img/arrow_drop_down.svg) no-repeat;
            cursor: pointer;
        }

        .language_item {
            @include SegoeUI();
        }

        .theme_button {
            cursor: pointer;
            width: 2.4rem;
            height: 2.4rem;
            background: url(../img/sun.svg) no-repeat;
        }
    }

    .lower-header {
        width: 100%;
        height: 72%;
        border-top: .05rem solid $light-green-main;
        border-bottom: .05rem solid $light-green-main;
    }

        &_low_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        max-width: 120rem;
        margin: 0 auto;
        height: 100%;

        &_main_logo {
            background: url(../img/main_logo.svg) no-repeat;
            // width: 15.176rem;
            height: 2.7rem;
            cursor: pointer;
            width: 15%;
        }

        .header-navigation {
            display: flex;
            justify-content: space-between;
            width: 82%;
        }

        &_header_navigation {
            @include SergoUI-lower_header();
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 49.5rem;
            // cursor: pointer;

            .nav_item {

            }

            .nav-item_drop {
                
                &_active {
                    border-bottom: .3px black solid;
                    line-height: 1.5rem;
                }
            }

            .arrow_btn {
                display: inline-block;
                width: 2.4rem;
                height: 1.8rem;
                background: url(../img/arrow_drop_down.svg) no-repeat;
                cursor: pointer;
            }

        }

        &_open_buttons {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            width: 44.3rem;

            .open_buttonOne {
                @include SergoUI-open_btns();
                background: linear-gradient(225deg, #89DD65 0%, #AEDD65 100%);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 7rem;
                width: 19.7rem;
                height: 5rem;
                cursor: pointer;

                .open_content {
                }
            }

            .open_buttonTwo {
                @include SergoUI-open_btns();
                border: 1px solid #121212;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 7rem;
                width: 22.6rem;
                height: 5rem;
                cursor: pointer;

                .open_content {
                    
                }
            }
            
        }
        .burger-header_menu {
            display: none;
            width: 4rem;
            height: 4rem;
            background: url(../img/burger.svg) no-repeat;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 1240px) {
            
        .header_top_container {
            margin: 0 2rem 0 2rem;
            
            .mode_item {
                font-size: 2rem;
            }
            
            .active {
                line-height: 2rem;
            }

            &_login-language-container{
                width: 21.8rem;
            }

            .login_item {
                font-size: 2rem;

                &::after {
                    
                }
            }

            .language_item {
                margin-left: 3rem;
                font-size: 2rem;
            }

            .theme_button {
                width: 3rem;
                height: 3rem;
                background-size: 100%;
            }
        }       

        .header_low_container {
            
            margin: 0 2rem 0 2rem;
            
            .header-navigation {
                // display: none;
                // position: absolute;
                width: 100%;
                height: 30rem;
                // max-height: 0;
                // bottom: 0;
                // left: 0;
                transform: translateY(100%);
                max-height: 0;
                overflow: hidden;
                // width: 0;
                transition: .5s all;
            }

            &_main_logo {
                min-width: 20rem;
                // height: 50%;
                // background-size: 100%;
            }

            .burger-header_menu {
                min-width: 4rem
            }

            &_open_buttons {
                // display: none;
                position: absolute;
                max-height: 50rem;
                top: 23rem;
                justify-content: space-around;
                width: 100%;
            }
            
            &_header_navigation {
                display: flex;
                flex-direction: column;
                position: absolute;
                justify-content: center;
                max-height: 50rem;
                right: 0;
                width: 100%;
                /* top: 3rem; */
                /* width: 100%; */
                /* max-width: 50rem; */
                /* font-size: 1rem; */

                .nav_item {
                    width: 2rem;
                    font-size: 2rem;
                }

                .arrow_btn {
                    display: inline;
                }
            }

            #check-menu:checked ~ .header-navigation{
                display: inline;
                position: absolute;
                max-height: 30rem;
                width: 100%;
                background-color: white;
                right: 0;
                top: -17rem;
            }
            
        }

        #check-menu {
            display: none;
        }

        .burger-header_menu {
            display: inline;
        }
    }

    @media screen and (max-width: 768px) {
        
        .mode_dropdown {
            display: inline;
            font-size: 2rem;
        }

        .mode_item {
            display: none;
        }

    }

}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;

    .qualified-support-container_wrapper {
        width: 100%;
    }

    &_qualified-support_container {
        display: flex;
        justify-content: center;
        
        width: 100%;

        .area {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 0 2rem 0 2rem;
            max-width: 120rem;
            width: 100%;
        }

        .text {
            margin-right: 1rem;
            max-width: 42rem;
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: space-around;
        }

        .title {
            max-width: 42rem;
            @include titleSupport();
            margin-bottom: 5rem;
            // width: 41.9rem;
            // height: 8rem; 
        }

        .subtitle {
            max-width: 29rem;
            @include subtitleSupport();
            // width: 29rem;
            // height: 8.1rem;
        }

        .img-slider {
            display: flex;
            // width: 70%;
            // width: 79rem;
            // height: 49.5rem;
            // background: url(../img/keyboard.jpg) no-repeat center;
            // background-size: 70%;
        
            .slider {
                position: absolute;
                align-self: flex-end;
                width: 13.1rem;
                height: 6rem;
                background-color: $light-green-main;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .arrow_left {
                    background: url(../img/arrow_drop_down.svg) no-repeat;
                    position: relative;
                    width: 2.4rem;
                    height: 2.4rem;
                    transform: rotate(90deg);
                    // opacity: .5;
                    // cursor: pointer;
                }

                .arrow_right {
                    background: url(../img/arrow_drop_down.svg) no-repeat;
                    position: relative;
                    width: 2.4rem;
                    height: 2.4rem;
                    transform: rotate(270deg);
                    cursor: pointer;
                }

                .counter {
                    @include counter();
                }
            }
        }
    // }
    }

    &_for-container {
        background-color: $grey-bg;
        width: 100%;
        // height: 66.2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .for-items-container {
            margin: 13rem 0rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 120rem;
            height: 40rem;
            // flex-direction: column;

            .for_item {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                border: 0.5px solid #121212;
                box-sizing: border-box;
                width: 38rem;
                height: 100%;

                .content-container {
                    display: flex;
                    flex-direction: column;
                    // justify-content: space-between;
                    align-items: flex-start;
                    max-width: 32.5rem;
                    height: 30.5rem;
                    margin: 3rem 0;
                    padding: 2rem 0;
                }

                .img {
                    width: 6rem;
                    height: 6rem;
                    margin-bottom: 1.5rem;
                    
                    &_person {
                        background: url(../img/person.png) no-repeat;
                    }

                    &_bag {
                        background: url(../img/bag.png) no-repeat;
                    }

                    &_technology {
                        background: url(../img/technology.png) no-repeat;
                    }
                } 

                .for-text {
                    @include fortitle();
                    margin-bottom: 2.5rem;
                }

                .subtitle {
                    @include subtitleSupport();
                }
            }
        }

        @media screen and (max-width: 1140px){
            .for-items-container {
                flex-direction: column;
                margin: 6rem 2rem 6rem 2rem;
                height: 100%;

                .for_item {
                    width: 100%;
                    align-items: flex-start;
                    justify-content: space-around;
                    .content-container {
                        margin: 0 3rem;
                        padding: 2rem 0;
                        height: 100%;
                        max-width: 100%;
                        
                    }
                }
            }
        }

    }

    &_pamm-service {
    width: 100%;
    // height: 82.5rem;
    margin: 14.1rem 0 12.3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

        .pamm-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            max-width: 120rem;
            // height: 58.8rem;

            .text {
                display: flex;
                align-items: flex-start;
            }
            
            .title {
                @include pamm-service-title();
                // width: 42rem;
                width: 35%
            }

            .subtitle {
                @include subtitleSupport();
                width: 65%;
            }

            .tableArea {
                display: flex;
                // flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-top: 10.9rem;
                width: 100%;
                // height: 32.6rem;

                &_main-table {
                    width: 60rem;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: wrap;

                    .title-container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        // height: 20%;
                        width: 98%;
                        margin-bottom: 3rem;

                        .title_question {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            margin-left: 3.2rem;
                            
                            .title {
                                @include table_title();
                                width: 100%;
                            }
                            
                            .questionMark {
                                background: url(../img/question_Icon.png) no-repeat;
                                width: 3rem;
                                height: 2rem;
                                margin-left: .7rem;
                                cursor: pointer;
                            }
                        }
                        
                        .see_all {
                            @include see_all();
                        }
                    }
                    
                    .table {
                        width: 58.5rem;
                        height: 27.7rem;
                        display: flex;
                        flex-direction: column;

                        &_titles {
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            flex-direction: row;
                            height: 15%;
                            @include table_titles();
                            border: 1.5px solid #E0E0E0;

                            .title_item {
                                width: 20%;
                            }
                        }

                        &_row {
                            width: 100%;
                            height: 25%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            border: 1.5px solid #E0E0E0;

                            .row_element {
                                width: 20%;
                                @include table_element();
                                margin-left: 1rem;
                                &_active {
                                    text-decoration: underline;
                                }
                            }

                            .row_element_graph {
                                background: url(../img/graph.png) no-repeat;
                                width: 20%;
                                width: 14rem;
                                height: 4rem;
                            }
                        }
                    }

                }
            }
        }
    }

        @media screen and (max-width:1240px) {
            
            .main_pamm-service {
                margin: 5rem;
                
                .text {
                    flex-direction: column;
                    margin: 0 2rem;
                    // где-то тут
                    .title {
                        width: 100%;
                    }
                    
                    .subtitle {
                        width: 100%;
                    }
                }
                
                .tableArea {
                    margin: 0;
                    justify-content: center;
                    flex-direction: column;

                    &_main-table {
                        margin-top: 3rem;
                    }
                }
                
            }
        }

}

.footer {
    width: 100%;
    background-color: $grey-bg;
    // height: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &_container {
        height: 14.5rem;
        width: 120rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 8.5rem 0 8.5rem 0;

        .footer-navigation {
            display: flex;
            // width: 68%;
            justify-content: space-between;
            width: 82%;
            // align-items: center;
            // width: 100%;
            // height: 100%;
        }

        .logo-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            height: 100%;

            .main-logo {
                background: url(../img/main_logo.svg) no-repeat;
                background-size: 75%;
                width: 100%;
                height: 100%;
            }
            
            .info {
                @include company-info();
                width: 22.4rem;
                height: 6.5rem;
            }
        }

            .bold_item {
                @include bold_item();
                cursor: pointer;
            }

            .usual_item {
                @include usual_item();
                cursor: pointer;
            }

            #check-f-menu {
                display: none;
            }

            .rmf {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .ttt {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .arc {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .hhpp {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .burger-footer_menu {
                display: none;
                width: 2rem;
                height: 2rem;
                background: url(../img/burger.svg) no-repeat;
                cursor: pointer;
            }
    }

    @media screen and (max-width: 1240px) {
        
        .footer_container {

            margin: 0 2rem 0 2rem;
            height: 20rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .logo-info {

                min-width: 25rem;
                justify-content: space-evenly;
                .main-logo {
                    min-width: 25rem;
                    background-size: 100%;
                    height: 25%;
                }

                .info {
                    min-width: 25rem;
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                };
                
            }

            .footer-navigation {
                // display: flex;
                // position: absolute;  
                width: 100%;
                height: 30rem;
                transform: translateY(-100%);
                max-height: 0;
                overflow: hidden;
                transition: .5s all;
                // width: 0;
                // bottom: 0;
                // left: 0;
            }
            
            #check-f-menu {
                display: none;
            }

            #check-f-menu:checked ~ .footer-navigation{
                display: flex;
                // justify-content: space-around;
                position: absolute;
                max-height: 30rem;
                width: 100%;
                background-color: white;
                right: 0;
                bottom: -185rem;

            }

            .burger-footer_menu {
                display: inline;
                min-width: 4rem;
                height: 4rem;
                background: url(../img/burger.svg) no-repeat;
                background-size: 100%;
                cursor: pointer;
            }
        }
    }

}

// @media screen and (max-width: 1240px) {

// }